@font-face {
    font-family: 'Stem';
    src: url('./Stem-SemiLight.woff2') format('woff2'), url('./Stem-SemiLight.ttf') format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */
    url('./Stem-SemiLight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('./Stem-Bold.woff2') format('woff2'), url('./Stem-Bold.ttf') format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */
    url('./Stem-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}