<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>design</title>
    <link rel="stylesheet" href="/static/source/fonts/stylesheet.css">
    <link rel="stylesheet" href="/static/source/pages/design/index.css">
</head>
<body>

    <header class="header container">
        <div class="header_sections">
            <a href="#">
                Архітектура
            </a>
        </div>
        <div class="header_sections">
            <a href="#">
                Дизайн
            </a>
        </div>
        <div class="header_logo">
            <a href="#">
                <img src="/static/source/img/header/LOGO.svg" alt="">
            </a>
        </div>
        <div class="header_sections">
            <a href="#">
                еТАПИ РОБОТИ
            </a>
        </div>
        <div class="header_sections">
            <a href="#">
                кОМАНДА
            </a>
        </div>
        <div class="header_sections">
            <a href="#">
                КОНТАКТИ
            </a>
        </div>
    </header>

    <section class="top first_padding" style="background: url(/static/source/img/design/Rectangle\ 2.png) 100% 100% no-repeat; background-size: cover;">
        <div class="top_social">
            <div class="top_social__line top_social__line_1">
            </div>
            <div class="top_social__block">
                <a href="#">
                    <img src="/static/source/img/index/Frame 15.svg" alt="">
                </a>
            </div>
            <div class="top_social__block">
                <a href="#">
                    <img src="/static/source/img/index/Frame 14.svg" alt="">
                </a>
            </div>
            <div class="top_social__line top_social__line_2">
            </div>
        </div>
        <div class="plans container">
            <div class="plans_wrapper">
                <div class="plans_card">
                    <div class="plans_card__title">
                        Basic
                    </div>
                    <div class="plans_card_wrapper">
                        <div class="plans_card_services">
                            <ul>
                                <li>
                                    створення технічних креслень
                                </li>
                            </ul>
                        </div>
                        <div class="plans_card_price">
                            10-15  $/ м²
                        </div>
                    </div>
                    <div class="plans_card__btn">
                        <a href="#" class="btn_standart">
                            Замовити проект basic
                        </a>
                    </div>
                </div>
                <div class="plans_card">
                    <div class="plans_card__title">
                        Standart
                    </div>
                    <div class="plans_card_wrapper">
                        <div class="plans_card_services">
                            <ul>
                                <li>
                                    план “Basic”
                                </li>
                                <li>
                                    3D візуалізація проєкту
                                    розгортки стін
                                </li>
                                <li>
                                    у подарунок: разова онлайн-консультація дизайнера
                                </li>
                            </ul>
                        </div>
                        <div class="plans_card_price">
                            від
                            20-25  $/ м²
                        </div>
                    </div>
                    <div class="plans_card__btn">
                        <a href="#" class="btn_standart">
                            Замовити проект Standart
                        </a>
                    </div>
                </div>
                <div class="plans_card">
                    <div class="plans_card__title">
                        Premium
                    </div>
                    <div class="plans_card_wrapper">
                        <div class="plans_card_services">
                            <ul>
                                <li>
                                    план “Standart”
                                </li>
                                <li>
                                    підбір матеріалів 
                                </li>
                                <li>
                                    авторський нагляд
                                </li>
                            </ul>
                        </div>
                        <div class="plans_card_price">
                            від
                            25  $/ м²
                        </div>
                    </div>
                    <div class="plans_card__btn">
                        <a href="#" class="btn_standart">
                            Замовити проект Premium
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="block_img">
        <div class="block_img__item">
            <img src="/static/source/img/design/Rectangle 35.png" alt="">
        </div>
        <div class="block_img__item">
            <img src="/static/source/img/design/Rectangle 38.png" alt="">
        </div>
        <div class="block_img__item">
            <img src="/static/source/img/design/Rectangle 37.png" alt="">
        </div>
        <div class="block_img__item">
            <img src="/static/source/img/design/Rectangle 39.png" alt="">
        </div>
    </section>

    <section class="block_img_33-perc">
        <div class="block_img_33-perc__item">
            <img src="/static/source/img/design/Rectangle 40.png" alt="">
        </div>
        <div class="block_img_33-perc__item">
            <img src="/static/source/img/design/Rectangle 41.png" alt="">
        </div>
        <div class="block_img_33-perc__item">
            <img src="/static/source/img/design/Rectangle 42.png" alt="">
        </div>
    </section>

    <section class="block_img_100-perc">
        <div class="block_img_100-perc__item">
            <img src="/static/source/img/design/Rectangle 43.png" alt="">
        </div>
    </section>

    <footer class="footer">
        <div class="footer_title">
            <div class="footer_title__text">
                Слідкуй за нами  innex.ua
            </div>
            <div class="footer_title_social">
                <a href="#">
                    <img src="/static/source/img/footer/Frame 15.svg" alt="">
                </a>
                <a href="#">
                    <img src="/static/source/img/footer/Frame 14.svg" alt="">
                </a>
            </div>
        </div>
        <div class="footer__img">
            <img src="/static/source/img/footer/Rectangle 19.png" alt="">
            <img src="/static/source/img/footer/Rectangle 20.png" alt="">
            <img src="/static/source/img/footer/Rectangle 21.png" alt="">
            <img src="/static/source/img/footer/Rectangle 22.png" alt="">
            <img src="/static/source/img/footer/Rectangle 23.png" alt="">
        </div>
        <div class="footer_bottom">
            <div class="google_maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2571.885995221748!2d24.04629781608419!3d49.86338613737066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473adce2a8be56e7%3A0x2e3ff3c0713e64c0!2sBohdana%20Khmel&#39;nyts&#39;koho%20St%2C%20223%2C%20L&#39;viv%2C%20L&#39;vivs&#39;ka%20oblast%2C%2079000!5e0!3m2!1sen!2sua!4v1641501621307!5m2!1sen!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="footer_bottom_right"> 
                <div class="contacts_info">
                    <div class="contacts_info_section contacts_info__address">
                        <img src="/static/source/img/footer/carbon_location-filled.svg" alt="">
                        <span class="contacts_info_section__text">
                            місто Львів, вулиця Богдана Хмельницького 223 В
                        </span>
                    </div>
                    <div class="contacts_info_section contacts_info__phone">
                        <div>
                            <img src="/static/source/img/footer/bi_phone-fill.svg" alt="">
                        </div>
                        <div>
                            <div>
                                <a href="tel:+ 38 (093) 015 83 24" class="contacts_info_section__text">+ 38 (093) 015 83 24</a>
                            </div>
                            <div class="contacts_info_section__text">
                                Пн-Пт  9 00  - 18 00  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_us">
                    <button class="btn_standart">
                        Зв’язатися з нами
                    </button>
                </div>
                <div class="sections_container">
                    <div class="sections_container__item">
                        <a href="#">
                            Архітектура
                        </a>
                    </div>
                    <div class="sections_container__item">
                        <a href="#">
                            Дизайн
                        </a>
                    </div>
                    <div class="sections_container__item">
                        <a href="#">
                            еТАПИ РОБОТИ
                        </a>
                    </div>
                    <div class="sections_container__item">
                        <a href="#">
                            кОМАНДА
                        </a>
                    </div>
                    <div class="sections_container__item">
                        <a href="#">
                            КОНТАКТИ
                        </a>
                    </div>
                </div>
                <div class="sw-logo">
                    <a href="#">
                        <img src="/static/source/img/footer/sw-logo 1.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="/static/source/pages/design/index.css"></script>
    
</body>
</html>