<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/static/source/fonts/fonts.css">
    <link rel="stylesheet" href="/static/source/pages/index/index.css">
</head>
<body>

    <header class="header container">
        <div class="header_sections">
            <a href="#">
                Архітектура
            </a>
        </div>
        <div class="header_sections">
            <a href="#">
                Дизайн
            </a>
        </div>
        <div class="header_logo">
            <a href="#">
                <img src="/static/source/img/header/LOGO.svg" alt="">
            </a>
        </div>
        <div class="header_sections">
            <a href="#">
                еТАПИ РОБОТИ
            </a>
        </div>
        <div class="header_sections">
            <a href="#">
                кОМАНДА
            </a>
        </div>
        <div class="header_sections">
            <a href="#">
                КОНТАКТИ
            </a>
        </div>
    </header>

    <section class="index first_padding">
        <div class="index_top">
            <div class="index_title" style="background: url(/static/source/img/index/Rectangle\ 2.png) 100% 100% no-repeat; background-size: cover;">
                <div class="index_social">
                    <div class="index_social__line index_social__line_1">
                    </div>
                    <div class="index_social__block">
                        <a href="#">
                            <img src="/static/source/img/index/Frame 15.svg" alt="">
                        </a>
                    </div>
                    <div class="index_social__block">
                        <a href="#">
                            <img src="/static/source/img/index/Frame 14.svg" alt="">
                        </a>
                    </div>
                    <div class="index_social__line index_social__line_2">
                    </div>
                </div>
                <div class="index_title_wrapper">
                    <div class="index_title_1">
                        <span>
                            Архітектура
                        </span>
                        <img src="/static/source/img/index/Rectangle 4.svg" alt="">
                    </div>
                    <div class="index_title_2">
                        - це мистецтво, нічого більше
                    </div>
                    <div class="btn_wrapper">
                        <a href="#" class="btn_standart">
                            Замовити проект
                        </a>
                    </div>
                </div>
            </div>
            <div class="index_img container">
                <div class="index_img__block_1">
                    <img src="/static/source/img/index/Rectangle 7.png" alt="">
                </div>
                <div class="index_img__block_2">
                    <div class="index_img__block_2_wrapper">
                        <div class="block__text">
                            Ми створюємо затишок на кожній 
                            вуличці та у кожній квартирі чи будинку
                        </div>
                        <img src="/static/source/img/index/Rectangle 5.png" alt="">
                    </div>
                    <div class="block__text_2">
                        <b>INNEX</b> - молода та перспективна команда архітекторів та дизайнерів. 
                        Вишуканий чи лаконічний дизайн інтер’єру, 
                        багатоповерхівка чи приватний будинок - усе це, і навіть більше, до снаги нашим фахівцям.
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="/static/source/pages/index/index.js"></script>

</body>
</html>