.index {
    &_title {
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 15% 28%;
        text-align: center;
        &_wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &_1 {
            font-size: 90px;
            line-height: 105px;
            white-space: nowrap;
        }
        &_2 {
            font-size: 30px;
            line-height: 35px;
        }
    }
    &_social {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 6%;
        &__line {
            position: absolute;
            left: 20px;
            width: 0px;
            height: 430px;
            border: 1px solid #FFFFFF;
            opacity: 0.5;
            &_1 {
                top: -460px;
            }
            &_2 {
                top: 120px;
            }
        }
    }
    &_img {
        display: flex;
        border: 2px solid;
        &__block {
            border: 1px solid #1F1B20;
            box-sizing: border-box;
            border-radius: 2px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                padding: 12px 0 33px 30px;
            }
        }
    }
}

.btn_wrapper {
    margin-top: 40px;
}